/* Checkbox (Switch) */
.UNI_checkbox {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  vertical-align: middle;
}

/* Скрываем стандартный чекбокс */
.UNI_checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Рисуем подложку (серую полоску) */
.UNI_checkbox .fake {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EAEAEA;
  transition: .3s;
  border-radius: 34px;
}

/* Рисуем белый круг */
.UNI_checkbox .fake:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .3s;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

/* Состояние "Включено": меняем цвет фона */
.UNI_checkbox input:checked + .fake {
  background-color: #6699CC;
}

/* Состояние "Включено": сдвигаем круг вправо */
.UNI_checkbox input:checked + .fake:before {
  transform: translateX(20px);
}
